openapi: 3.1.0
info:
  title: Capsule API
  version: 1.0.0
  description: |
    Contrat OpenAPI v1 aligné sur les surfaces réellement exposées par `apps/capsule-api/src/app.ts`.

    Ce contrat couvre:
    - Authentification et session
    - CRUD data unifié (`/data/{collection}`)
    - Orchestration legacy messages
    - Gestion des consentements
    - Exports et observabilité read-only
    - Stockage objet S3-compatible ciblé "documents essentiels" (`/vault/documents`)

    Limites connues v1 (documentées):
    - Pas de galerie média complète ni pipeline multimédia (transcodage, previews, streaming).
    - Le module objet est ciblé sur les documents essentiels uniquement (PDF/TXT/JPEG/PNG/DOC/DOCX).
    - Poids max par fichier: 25 Mo. Quota capsule configurable: 50–500 Mo (`CAPSULE_VAULT_CAPSULE_QUOTA_MB`).
servers:
  - url: https://api.capsule.nemoris.app
    description: Production
  - url: http://localhost:3000
    description: Local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Data
  - name: LegacyMessages
  - name: Consent
  - name: Exports
  - name: Observability
  - name: Vault

paths:
  /auth/register:
    post:
      tags: [Auth]
      security: []
      summary: Créer un compte
      responses:
        '201': { description: Compte créé }

  /auth/login:
    post:
      tags: [Auth]
      security: []
      summary: Ouvrir une session
      responses:
        '200': { description: Session ouverte }


  /auth/recovery/complete:
    post:
      tags: [Auth]
      security: []
      summary: Finaliser une récupération de compte
      description: |
        Requiert des preuves de récupération et ouvre une nouvelle session.
        Certaines actions sensibles restent bloquées temporairement après la récupération
        (renvoi possible de `RECOVERY_SENSITIVE_ACTION_BLOCKED` sur exports/consentements/vault/legacy orchestration).
      responses:
        '200': { description: Récupération validée, session créée }
        '400': { description: Preuves insuffisantes (`RECOVERY_PROOF_REQUIRED`) }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Fermer la session courante
      responses:
        '204': { description: Session fermée }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rafraîchir la session
      responses:
        '200': { description: Session rafraîchie }

  /data/{collection}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/OwnerId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
    get:
      tags: [Data]
      summary: Lister une collection métier
      description: |
        Collections supportées: memories, beliefs, lessons, value_profiles, legacy_messages, beneficiaries, narrative_nodes, narrative_edges.

        Note périmètre média/secrets v1:
        - Les contenus photo/vidéo/audio sont représentés via données métier (métadonnées et références textuelles) et non via upload binaire natif.
        - Les codes/secrets sont stockés comme texte dans les payloads des collections existantes.
      responses:
        '200': { description: Liste paginée }
    post:
      tags: [Data]
      summary: Créer un item dans une collection métier
      description: |
        Création JSON d'une ressource métier.

        Limites v1:
        - Aucun endpoint de transfert de fichier binaire n'est défini dans ce contrat.
        - Les règles fines de format média (MIME/codec) et de taille par fichier ne sont pas contractualisées.
      responses:
        '201': { description: Ressource créée }

  /data/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OwnerId'
    get:
      tags: [Data]
      summary: Lire un item
      responses:
        '200': { description: Ressource trouvée }
    patch:
      tags: [Data]
      summary: Mettre à jour un item
      responses:
        '200': { description: Ressource mise à jour }
    delete:
      tags: [Data]
      summary: Supprimer un item
      responses:
        '204': { description: Ressource supprimée }

  /legacy-messages/{id}/arm:
    post:
      tags: [LegacyMessages]
      summary: Armer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message armé }

  /legacy-messages/{id}/trigger:
    post:
      tags: [LegacyMessages]
      summary: Déclencher un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message déclenché }

  /legacy-messages/{id}/revoke:
    post:
      tags: [LegacyMessages]
      summary: Révoquer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message révoqué }

  /legacy-messages/{id}/deliver:
    post:
      tags: [LegacyMessages]
      summary: Lancer la livraison d'un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Livraison exécutée }

  /legacy-messages/{id}/delivery-attempts:
    get:
      tags: [LegacyMessages]
      summary: Lire les tentatives de livraison
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Liste des tentatives }

  /consent/grant:
    post:
      tags: [Consent]
      summary: Accorder un consentement
      responses:
        '201': { description: Consentement accordé }

  /consent/revoke:
    post:
      tags: [Consent]
      summary: Révoquer un consentement
      responses:
        '200': { description: Consentement révoqué }

  /consent/history:
    get:
      tags: [Consent]
      summary: Lire l'historique des consentements
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Historique des consentements }

  /exports:
    post:
      tags: [Exports]
      summary: Générer un export
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportCreateRequest'
      responses:
        '201': { description: Export généré }

  /exports/{id}/download:
    get:
      tags: [Exports]
      summary: Télécharger un export
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: Export téléchargé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDownloadResponse'

  /exports/audit:
    get:
      tags: [Exports]
      summary: Lire l'audit des exports
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Journal d'audit export }


  /vault/documents:
    get:
      tags: [Vault]
      summary: Lister les documents essentiels stockés
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Liste des fichiers + quota capsule }
  /vault/documents/upload:
    post:
      tags: [Vault]
      summary: Upload d'un document essentiel (S3-compatible en backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultUploadRequest'
      responses:
        '201': { description: Fichier stocké }
        '400': { description: Format/MIME/poids invalide ou quota dépassé }
        '403': { description: Consentement manquant (posthumous_visibility) }
  /vault/documents/{id}/download:
    get:
      tags: [Vault]
      summary: Télécharger un document essentiel
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/Purpose'
      responses:
        '200': { description: Métadonnées fichier + payload base64 }
        '403': { description: Consentement manquant (`data_export` ou `posthumous_visibility`) }

  /observability/audit:
    get:
      tags: [Observability]
      summary: Lire le journal d'audit observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Audit observabilité }

  /observability/dashboard:
    get:
      tags: [Observability]
      summary: Lire le dashboard observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Dashboard observabilité }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    OwnerId:
      in: query
      name: owner_id
      required: true
      schema:
        type: string
      description: Owner logique, requis et contrôlé côté API.
    Collection:
      in: path
      name: collection
      required: true
      schema:
        type: string
        enum:
          - memories
          - beliefs
          - lessons
          - value_profiles
          - legacy_messages
          - beneficiaries
          - narrative_nodes
          - narrative_edges
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Offset:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        minimum: 0
    Sort:
      in: query
      name: sort
      required: false
      schema:
        type: string
    Order:
      in: query
      name: order
      required: false
      schema:
        type: string
        enum: [asc, desc]
    Purpose:
      in: query
      name: purpose
      required: false
      schema:
        type: string
        enum: [standard, data_export]
      description: "`data_export` impose un consentement `data_export` actif."

  schemas:

    ExportCreateRequest:
      type: object
      properties:
        owner_id:
          type: string
        format:
          type: string
          enum: [json, pdf, encrypted_zip]
        encryption_password:
          type: string
          description: "Mot de passe optionnel (>=12 caractères), utilisé uniquement avec `format=encrypted_zip`."

    ExportDownloadResponse:
      type: object
      required: [export_id, file_name, mime_type, content_base64]
      properties:
        export_id:
          type: string
        file_name:
          type: string
        mime_type:
          type: string
          enum: [application/json, application/pdf, application/zip+encrypted]
        content_base64:
          type: string
          description: |
            Payload export encodé en base64.
            Pour `application/zip+encrypted`, contient une enveloppe `enczip1.<strategy>...` qui protège une archive ZIP (payload.json + vault/* + manifest.json).

    VaultUploadRequest:
      type: object
      required: [owner_id, filename, mime, visibility, content_base64]
      properties:
        owner_id:
          type: string
        filename:
          type: string
        mime:
          type: string
          enum:
            - application/pdf
            - text/plain
            - image/jpeg
            - image/png
            - application/msword
            - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        visibility:
          type: string
          enum: [private, trusted_circle, public, posthumous]
        content_base64:
          type: string
          description: Fichier encodé en base64 (25 Mo max avant encodage).
