openapi: 3.1.0
info:
  title: Capsule API
  version: 1.0.0
  description: |
    Contrat OpenAPI v1 aligné sur les surfaces réellement exposées par `apps/capsule-api/src/app.ts`.

    Ce contrat couvre:
    - Authentification et session
    - CRUD data unifié (`/data/{collection}`)
    - Orchestration legacy messages
    - Gestion des consentements
    - Exports et observabilité read-only
servers:
  - url: https://api.capsule.nemoris.app
    description: Production
  - url: http://localhost:3000
    description: Local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Data
  - name: LegacyMessages
  - name: Consent
  - name: Exports
  - name: Observability

paths:
  /auth/register:
    post:
      tags: [Auth]
      security: []
      summary: Créer un compte
      responses:
        '201': { description: Compte créé }

  /auth/login:
    post:
      tags: [Auth]
      security: []
      summary: Ouvrir une session
      responses:
        '200': { description: Session ouverte }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Fermer la session courante
      responses:
        '204': { description: Session fermée }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rafraîchir la session
      responses:
        '200': { description: Session rafraîchie }

  /data/{collection}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/OwnerId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
    get:
      tags: [Data]
      summary: Lister une collection métier
      description: 'Collections supportées: memories, beliefs, lessons, value_profiles, legacy_messages, beneficiaries, narrative_nodes, narrative_edges.'
      responses:
        '200': { description: Liste paginée }
    post:
      tags: [Data]
      summary: Créer un item dans une collection métier
      responses:
        '201': { description: Ressource créée }

  /data/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OwnerId'
    get:
      tags: [Data]
      summary: Lire un item
      responses:
        '200': { description: Ressource trouvée }
    patch:
      tags: [Data]
      summary: Mettre à jour un item
      responses:
        '200': { description: Ressource mise à jour }
    delete:
      tags: [Data]
      summary: Supprimer un item
      responses:
        '204': { description: Ressource supprimée }

  /legacy-messages/{id}/arm:
    post:
      tags: [LegacyMessages]
      summary: Armer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message armé }

  /legacy-messages/{id}/trigger:
    post:
      tags: [LegacyMessages]
      summary: Déclencher un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message déclenché }

  /legacy-messages/{id}/revoke:
    post:
      tags: [LegacyMessages]
      summary: Révoquer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message révoqué }

  /legacy-messages/{id}/deliver:
    post:
      tags: [LegacyMessages]
      summary: Lancer la livraison d'un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Livraison exécutée }

  /legacy-messages/{id}/delivery-attempts:
    get:
      tags: [LegacyMessages]
      summary: Lire les tentatives de livraison
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Liste des tentatives }

  /consent/grant:
    post:
      tags: [Consent]
      summary: Accorder un consentement
      responses:
        '201': { description: Consentement accordé }

  /consent/revoke:
    post:
      tags: [Consent]
      summary: Révoquer un consentement
      responses:
        '200': { description: Consentement révoqué }

  /consent/history:
    get:
      tags: [Consent]
      summary: Lire l'historique des consentements
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Historique des consentements }

  /exports:
    post:
      tags: [Exports]
      summary: Générer un export
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '201': { description: Export généré }

  /exports/{id}/download:
    get:
      tags: [Exports]
      summary: Télécharger un export
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Export téléchargé }

  /exports/audit:
    get:
      tags: [Exports]
      summary: Lire l'audit des exports
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Journal d'audit export }

  /observability/audit:
    get:
      tags: [Observability]
      summary: Lire le journal d'audit observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Audit observabilité }

  /observability/dashboard:
    get:
      tags: [Observability]
      summary: Lire le dashboard observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Dashboard observabilité }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    OwnerId:
      in: query
      name: owner_id
      required: true
      schema:
        type: string
      description: Owner logique, requis et contrôlé côté API.
    Collection:
      in: path
      name: collection
      required: true
      schema:
        type: string
        enum:
          - memories
          - beliefs
          - lessons
          - value_profiles
          - legacy_messages
          - beneficiaries
          - narrative_nodes
          - narrative_edges
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Offset:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        minimum: 0
    Sort:
      in: query
      name: sort
      required: false
      schema:
        type: string
    Order:
      in: query
      name: order
      required: false
      schema:
        type: string
        enum: [asc, desc]
