openapi: 3.1.0
info:
  title: Capsule API
  version: 1.0.0
  description: |
    Contrat OpenAPI v1 aligné sur les surfaces réellement exposées par `apps/capsule-api/src/app.ts`.

    Ce contrat couvre:
    - Authentification et session
    - CRUD data unifié (`/data/{collection}`)
    - Orchestration legacy messages
    - Gestion des consentements
    - Exports et observabilité read-only
    - Stockage objet S3-compatible ciblé "documents essentiels" (`/vault/documents`)

    Limites connues v1 (documentées):
    - Pas de galerie média complète ni pipeline multimédia (transcodage, previews, streaming).
    - Le module objet est ciblé sur les documents essentiels uniquement (PDF/TXT/JPEG/PNG/DOC/DOCX).
    - Poids max par fichier: 25 Mo. Quota capsule configurable: 50–500 Mo (`CAPSULE_VAULT_CAPSULE_QUOTA_MB`).
servers:
  - url: https://api.capsule.nemoris.app
    description: Production
  - url: http://localhost:3000
    description: Local

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Data
  - name: LegacyMessages
  - name: Consent
  - name: Exports
  - name: Observability
  - name: Vault
  - name: Posthumous

paths:
  /auth/register:
    post:
      tags: [Auth]
      security: []
      summary: Créer un compte
      responses:
        '201': { description: Compte créé }

  /auth/login:
    post:
      tags: [Auth]
      security: []
      summary: Ouvrir une session
      responses:
        '200': { description: Session ouverte }


  /auth/recovery/complete:
    post:
      tags: [Auth]
      security: []
      summary: Finaliser une récupération de compte
      description: |
        Requiert des preuves de récupération et ouvre une nouvelle session.
        Certaines actions sensibles restent bloquées temporairement après la récupération
        (renvoi possible de `RECOVERY_SENSITIVE_ACTION_BLOCKED` sur exports/consentements/vault/legacy orchestration).
      responses:
        '200': { description: Récupération validée, session créée }
        '400': { description: Preuves insuffisantes (`RECOVERY_PROOF_REQUIRED`) }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Fermer la session courante
      responses:
        '204': { description: Session fermée }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rafraîchir la session
      responses:
        '200': { description: Session rafraîchie }

  /data/{collection}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/OwnerId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Sort'
      - $ref: '#/components/parameters/Order'
    get:
      tags: [Data]
      summary: Lister une collection métier
      description: |
        Collections supportées: memories, beliefs, lessons, value_profiles, legacy_messages, beneficiaries, narrative_nodes, narrative_edges.

        Note périmètre média/secrets v1:
        - Les contenus photo/vidéo/audio sont représentés via données métier (métadonnées et références textuelles) et non via upload binaire natif.
        - Les codes/secrets sont stockés comme texte dans les payloads des collections existantes.
      responses:
        '200': { description: Liste paginée }
    post:
      tags: [Data]
      summary: Créer un item dans une collection métier
      description: |
        Création JSON d'une ressource métier.

        Limites v1:
        - Aucun endpoint de transfert de fichier binaire n'est défini dans ce contrat.
        - Les règles fines de format média (MIME/codec) et de taille par fichier ne sont pas contractualisées.
      responses:
        '201': { description: Ressource créée }

  /data/{collection}/{id}:
    parameters:
      - $ref: '#/components/parameters/Collection'
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/OwnerId'
    get:
      tags: [Data]
      summary: Lire un item
      responses:
        '200': { description: Ressource trouvée }
    patch:
      tags: [Data]
      summary: Mettre à jour un item
      responses:
        '200': { description: Ressource mise à jour }
    delete:
      tags: [Data]
      summary: Supprimer un item
      responses:
        '204': { description: Ressource supprimée }

  /legacy-messages/{id}/arm:
    post:
      tags: [LegacyMessages]
      summary: Armer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message armé }

  /legacy-messages/{id}/trigger:
    post:
      tags: [LegacyMessages]
      summary: Déclencher un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message déclenché }

  /legacy-messages/{id}/revoke:
    post:
      tags: [LegacyMessages]
      summary: Révoquer un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Legacy message révoqué }

  /legacy-messages/{id}/deliver:
    post:
      tags: [LegacyMessages]
      summary: Lancer la livraison d'un legacy message
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Livraison exécutée }

  /legacy-messages/{id}/delivery-attempts:
    get:
      tags: [LegacyMessages]
      summary: Lire les tentatives de livraison
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Liste des tentatives }

  /consent/grant:
    post:
      tags: [Consent]
      summary: Accorder un consentement
      responses:
        '201': { description: Consentement accordé }

  /consent/revoke:
    post:
      tags: [Consent]
      summary: Révoquer un consentement
      responses:
        '200': { description: Consentement révoqué }

  /consent/history:
    get:
      tags: [Consent]
      summary: Lire l'historique des consentements
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Historique des consentements }

  /exports:
    post:
      tags: [Exports]
      summary: Générer un export
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportCreateRequest'
      responses:
        '201': { description: Export généré }

  /exports/{id}/download:
    get:
      tags: [Exports]
      summary: Télécharger un export
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: Export téléchargé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDownloadResponse'

  /exports/audit:
    get:
      tags: [Exports]
      summary: Lire l'audit des exports
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Journal d'audit export }


  /vault/documents:
    get:
      tags: [Vault]
      summary: Lister les documents essentiels stockés
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Liste des fichiers + quota capsule }
  /vault/documents/upload:
    post:
      tags: [Vault]
      summary: Upload d'un document essentiel (S3-compatible en backend)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultUploadRequest'
      responses:
        '201': { description: Fichier stocké }
        '400': { description: Format/MIME/poids invalide ou quota dépassé }
        '403': { description: Consentement manquant (posthumous_visibility) }
  /vault/documents/{id}/download:
    get:
      tags: [Vault]
      summary: Télécharger un document essentiel
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/Purpose'
      responses:
        '200': { description: Métadonnées fichier + payload base64 }
        '403': { description: Consentement manquant (`data_export` ou `posthumous_visibility`) }

  /observability/audit:
    get:
      tags: [Observability]
      summary: Lire le journal d'audit observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Audit observabilité }

  /observability/dashboard:
    get:
      tags: [Observability]
      summary: Lire le dashboard observabilité
      parameters:
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200': { description: Dashboard observabilité }

  /posthumous/cases:
    post:
      tags: [Posthumous]
      summary: Ouvrir un dossier de déclenchement posthume
      description: |
        Crée (ou retrouve de manière idempotente) un dossier posthume en état `suspected_death`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosthumousCaseCreateRequest'
      responses:
        '201':
          description: Dossier créé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '409': { description: 'Dossier déjà finalisé (POSTHUMOUS_ALREADY_FINALIZED)' }

  /posthumous/cases/{case_id}:
    get:
      tags: [Posthumous]
      summary: Lire un dossier posthume
      parameters:
        - $ref: '#/components/parameters/CaseId'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: Dossier trouvé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '404': { description: 'POSTHUMOUS_CASE_NOT_FOUND' }

  /posthumous/cases/{case_id}/signals:
    post:
      tags: [Posthumous]
      summary: Ajouter un signal de décès
      parameters:
        - $ref: '#/components/parameters/CaseId'
        - $ref: '#/components/parameters/OwnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosthumousSignalCreateRequest'
      responses:
        '202':
          description: Signal accepté
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '404': { description: 'POSTHUMOUS_CASE_NOT_FOUND' }
        '409': { description: 'POSTHUMOUS_ALREADY_FINALIZED' }
        '422': { description: 'POSTHUMOUS_IDENTITY_MISMATCH' }
        '503': { description: 'POSTHUMOUS_SOURCE_UNAVAILABLE' }

  /posthumous/cases/{case_id}/validate:
    post:
      tags: [Posthumous]
      summary: Valider l'avancement d'un dossier posthume
      description: |
        Évalue quorum, conflits et contrôles d'identité pour faire progresser le dossier
        (`suspected_death` -> `pending_validation` -> `grace_period`).
      parameters:
        - $ref: '#/components/parameters/CaseId'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: État du dossier après validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '404': { description: 'POSTHUMOUS_CASE_NOT_FOUND' }
        '409':
          description: |
            POSTHUMOUS_QUORUM_NOT_REACHED | POSTHUMOUS_VALIDATION_CONFLICT |
            POSTHUMOUS_INVALID_STATE_TRANSITION | POSTHUMOUS_ALREADY_FINALIZED

  /posthumous/cases/{case_id}/unlock/progress:
    post:
      tags: [Posthumous]
      summary: Exécuter un palier de déverrouillage progressif
      parameters:
        - $ref: '#/components/parameters/CaseId'
        - $ref: '#/components/parameters/OwnerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosthumousUnlockProgressRequest'
      responses:
        '200':
          description: Palier traité, état mis à jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '403': { description: 'POSTHUMOUS_OPPOSITION_ACTIVE ou POSTHUMOUS_UNLOCK_POLICY_BLOCKED' }
        '404': { description: 'POSTHUMOUS_CASE_NOT_FOUND' }
        '409':
          description: |
            POSTHUMOUS_GRACE_PERIOD_ACTIVE | POSTHUMOUS_INVALID_STATE_TRANSITION |
            POSTHUMOUS_ALREADY_FINALIZED

  /posthumous/cases/{case_id}/revoke:
    post:
      tags: [Posthumous]
      summary: Révoquer un workflow posthume
      parameters:
        - $ref: '#/components/parameters/CaseId'
        - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: Dossier révoqué
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosthumousCase'
        '404': { description: 'POSTHUMOUS_CASE_NOT_FOUND' }
        '409': { description: 'POSTHUMOUS_ALREADY_FINALIZED' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    OwnerId:
      in: query
      name: owner_id
      required: true
      schema:
        type: string
      description: Owner logique, requis et contrôlé côté API.
    Collection:
      in: path
      name: collection
      required: true
      schema:
        type: string
        enum:
          - memories
          - beliefs
          - lessons
          - value_profiles
          - legacy_messages
          - beneficiaries
          - narrative_nodes
          - narrative_edges
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string
    CaseId:
      in: path
      name: case_id
      required: true
      schema:
        type: string
    Limit:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Offset:
      in: query
      name: offset
      required: false
      schema:
        type: integer
        minimum: 0
    Sort:
      in: query
      name: sort
      required: false
      schema:
        type: string
    Order:
      in: query
      name: order
      required: false
      schema:
        type: string
        enum: [asc, desc]
    Purpose:
      in: query
      name: purpose
      required: false
      schema:
        type: string
        enum: [standard, data_export]
      description: "`data_export` impose un consentement `data_export` actif."

  schemas:

    ExportCreateRequest:
      type: object
      properties:
        owner_id:
          type: string
        format:
          type: string
          enum: [json, pdf, encrypted_zip]
        encryption_password:
          type: string
          description: "Mot de passe optionnel (>=12 caractères), utilisé uniquement avec `format=encrypted_zip`."

    ExportDownloadResponse:
      type: object
      required: [export_id, file_name, mime_type, content_base64]
      properties:
        export_id:
          type: string
        file_name:
          type: string
        mime_type:
          type: string
          enum: [application/json, application/pdf, application/zip+encrypted]
        content_base64:
          type: string
          description: |
            Payload export encodé en base64.
            Pour `application/zip+encrypted`, contient une enveloppe `enczip1.<strategy>...` qui protège une archive ZIP (payload.json + vault/* + manifest.json).

    VaultUploadRequest:
      type: object
      required: [owner_id, filename, mime, visibility, content_base64]
      properties:
        owner_id:
          type: string
        filename:
          type: string
        mime:
          type: string
          enum:
            - application/pdf
            - text/plain
            - image/jpeg
            - image/png
            - application/msword
            - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        visibility:
          type: string
          enum: [private, trusted_circle, public, posthumous]
        content_base64:
          type: string
          description: Fichier encodé en base64 (25 Mo max avant encodage).

    PosthumousCaseCreateRequest:
      type: object
      required: [owner_id, trigger_reason]
      properties:
        owner_id:
          type: string
        trigger_reason:
          type: string
          description: Motif initial (signal, alerte manuelle, inactivité).

    PosthumousSignalCreateRequest:
      type: object
      required: [source, payload]
      properties:
        source:
          type: string
          enum: [insee_open_data, inactivity, trusted_contact]
        payload:
          type: object
          additionalProperties: true
          description: Métadonnées source (preuve, identifiants de rapprochement, etc.).

    PosthumousUnlockProgressRequest:
      type: object
      required: [stage]
      properties:
        stage:
          type: string
          enum: [metadata, low_critical_messages, sensitive_documents]

    PosthumousCase:
      type: object
      required:
        - case_id
        - owner_id
        - state
        - confidence_score
        - quorum_reached
        - created_at
        - updated_at
      properties:
        case_id:
          type: string
        owner_id:
          type: string
        state:
          type: string
          enum:
            - suspected_death
            - pending_validation
            - grace_period
            - progressive_unlock
            - delivered
            - revoked
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
        quorum_reached:
          type: boolean
        grace_period_ends_at:
          type: string
          format: date-time
          nullable: true
        unlock_stage:
          type: string
          nullable: true
          enum: [metadata, low_critical_messages, sensitive_documents]
        last_error_code:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time


    PosthumousStateChangedEvent:
      type: object
      required: [event_name, case_id, owner_id, previous_state, new_state, occurred_at]
      properties:
        event_name:
          type: string
          enum:
            - posthumous.case.created
            - posthumous.signal.recorded
            - posthumous.validation.pending
            - posthumous.grace_period.started
            - posthumous.grace_period.ended
            - posthumous.unlock.stage.completed
            - posthumous.delivered
            - posthumous.revoked
        case_id:
          type: string
        owner_id:
          type: string
        previous_state:
          type: string
          nullable: true
        new_state:
          type: string
        occurred_at:
          type: string
          format: date-time
        reason:
          type: string
          nullable: true

webhooks:
  posthumousStateChanged:
    post:
      tags: [Posthumous]
      summary: Événement d'évolution d'état du workflow posthume
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosthumousStateChangedEvent'
      responses:
        '202':
          description: Événement accepté par le consommateur
